CREATE DATABASE Spa
GO
USE Spa
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 16/6/2022 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Dni] [int] NOT NULL
) ON [PRIMARY]
GO

insert into Clientes (Nombre, Apellido, Telefono, Dni) values ('Granville', 'McBay', '1368849098', 60298056);
insert into Clientes (Nombre, Apellido, Telefono, Dni) values ('Jakie', 'Cowtherd', '5163529274', 24570928);
insert into Clientes (Nombre, Apellido, Telefono, Dni) values ('Neville', 'Botcherby', '1073096497', 44999483);
